@import url("https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,100..900,700;1,100;1..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --accent: #d7790b;
  --black: #1a1a1a;
  --gray: #f3f3f3;
}

html {
  scroll-padding-top: 25vh;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

section {
  min-width: 100%;
  min-height: 100vh;
  color: var(--black);
}

/* Navbar */
nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid var(--black);
  transition: all 0.5s ease-in-out;
  background-color: white;
  filter: drop-shadow(5px 5px 10px transparent);
}

/* Navbar Sticky */

nav.sticky {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.548);
  filter: drop-shadow(5px 5px 10px #00000022);
}

/* Navbar Brand */
.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.brand {
  transition: all 0.3s ease-in-out;
}

.brand:hover {
  opacity: 0.8;
}

/* Navbar Menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.menu a,
.menu-navbar a {
  display: inline-block;
  position: relative;
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.menu a::after, 
.menu-navbar a::after {
  color: var(--accent);
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.17em;
  bottom: 0;
  left: 0;
  background: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu a:hover::after, 
.menu-navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.btn-link {
  display: none;
}

.btn-2 {
  width: 200px;
  height: 45px;
  font-size: 20px;
  background-color: var(--black);
  color: white;
  border-radius: 12px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.btn-2:hover {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}

/* Hero Page Section */
.hero-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-top: 130px;  
}

.banner {
  display: flex;
  justify-content: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  padding: 100px;
  color: black;
  position: relative;
}

.swiper-button-prev::after {
  left: 100px;
}

.swiper-button-next::after {
  right: 100px;
}

.swiper-button-prev:focus {
  outline: none;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}

/* Banner Styles */
.banner_1,
.banner_2,
.banner_3 {
  display: flex;
}

.banner_1 div,
.banner_2 div,
.banner_3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  padding: 50px;
  text-align: center;
  justify-content: center;
}

.banner_1 div {
  background: linear-gradient(to right, #693323, #cf6544);
  color: white;
}

.banner_1 div h1 {
  font-size: 80px;
  font-weight: bold;
}

.banner_1 div h2 {
  font-size: 55px;
  font-weight: bold;
  color: rgba(255, 170, 52);
}

.banner_1 div p {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
}

.banner_2 div {
  background: #fbe2e7;
  color: #494949;
}

.banner_2 div h1 {
  font-size: 55px;
}

.banner_2 div p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

.banner_3 div {
  background: linear-gradient(to right, #190d0f, #bf6685);
  color: white;
}

.banner_3 div h1 {
  font-size: 55px;
}

.banner_3 div p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}

/* Button Styles */
.btn-banner-1,
.btn-banner-2,
.btn-banner-3 {
  border: 1px solid;
  width: 250px;
  height: 60px;
  font-weight: 600;
  font-size: 24px;
  background: transparent;
}

.btn-banner-2 {
  border-color: #494949;
  color: white;
  background-color: #494949;
}

.btn-banner-3 {
  border-color: white;
  color: var(--black);
}

.btn-banner-3:hover {
  color: white;
}

/* Category Section */
.category {
  display: flex;
  justify-content: center;
  margin: 30px 70px 88px 70px;
  gap: 32px;
}

.category-item {
  width: 317px;
  height: 326px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 12px;
  background-size: 100%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
  transition: all ease-in-out 0.3s;
}

.category-item:hover {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  background-size: 102%;
}

.category-item h4 {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  transition: all ease-in-out 0.3s;
}

.category-item:hover h4 {
  margin-bottom: 25px;
}

.category a {
  text-decoration: none;
}

.hot-drinks {
    background-image: url("img/category-1.png");
}

.cold-drinks {
    background-image: url("img/category-2.png");
}

.foods {
    background-image: url("img/category-3.png");
}

.merchandise {
    background-image: url("img/category-4.png");
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 70px;
  padding-bottom: 40px;
  min-height: 100%;
}

.about h1 {
  font-size:64px;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 30px;
}

.about h1 b {
  color: var(--accent);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.about-headline {
  flex-basis: 658px;
}

.about-headline p {
  font-size: 24px;
  margin-bottom: 30px;
}

.btn-about {
  width: 238px;
  height: 63px;
  font-size: 24px;
  font-weight: 600; 
}

.about-img {
  display: flex;
  gap: 25px;
}

.about-img img:nth-child(2) {
  position: relative;
  top: 30px;
}

.divider {
  width: 1218px;
  border: solid 1px var(--black);
  opacity: 0.1;
  margin-top: 100px;
}
